@tailwind base;
@tailwind components;
@tailwind utilities;

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.bg-dotted-pattern {
  background-image: radial-gradient(circle at 50% 50%, #222 0, #00000000 15%);
  background-size: 20px 20px;
}
